.contact {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.info_mail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.email {
    font-size: 1.5rem;
}

.info_call {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.call {
    font-size: 1.5rem;
    align-items: center;
}

.info_address {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.address {
    overflow-wrap: break-word;
    font-size: 1.5rem;


}

/* .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
/* display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
/* -webkit-font-smoothing: antialiased; */
/* Support for Safari and Chrome. */
/* text-rendering: optimizeLegibility; */

/* Support for Firefox. */
/* -moz-osx-font-smoothing: grayscale; */

/* Support for IE. */
/* font-feature-settings: 'liga'; */
/* } */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}