.home {
  background-color: rgba(0, 0, 0, 0.4);
  height: 800px;
  /* width: fit-content; */
  text-align: center;
  margin: auto;
  padding: 10px 20px 20px 10px;
  margin-top: 20px;
  /* align-items: center; */
}
