.slider{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.dis_head {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5fb5b7;
    border-radius: 30px;
    margin-top: 5vh;
    margin-top: 5vh;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 10vh;
    width: 84vw;
  }
  
  .heading h2 {
    position: relative;
    font-size: 4vw;
    color: #5fb5b7;
    -webkit-text-stroke: 0.3vw #fff;
    text-transform: uppercase;
  }
  
  