body{
    margin:0;
    background-color: #B9E8E9;
    
}
/* nav bar fixed and display is set to flex */
nav{
  background-color: #5FB5B7;
  padding: 0 30px;
   display:flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh; 
  position: fixed;
  top:0;
  z-index:1000; 
  width: 96vw;
  
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
.search{
display: inline-flex;
}
.search input[type=text]{
  width: 30vw; height: 30px;
border: none;
border-radius: 3px 0px 0px 3px;
font-size: 17px;
}
.search button[type=submit]
{
height: 32px;border: none; width: 3vw;
border-radius: 0px 3px 3px 0px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: black; 
  }

/* nav .navdetails ul{
     margin-right: 30px;
  } */
  nav .navdetails ul li{
    display: inline-block;
  }
  nav .navdetails ul li a{
    color: white;
    display: block;
    padding: 0 10px;
    line-height: 10vh;
    background-color: #5FB5B7;
    font-size: 20px;
    text-decoration: dashed;
    transition: .5s;
  }
  nav .navdetails ul li a:hover,
  nav .navdetails ul li a.active{
    color:black;
  }
  nav .navdetails ul ul{
    position: absolute;
    top: 10vh;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
  }
  nav .navdetails ul li:hover > ul{
    top: 10vh;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav .navdetails ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
    list-style: none;
  }
  nav .navdetails ul ul li a{
    line-height: 50px;
  }
  nav .navdetails ul ul ul{
    border-top: none;
  }
  nav .navdetails ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  
   .profile a{
     text-decoration: none;
     color: white;
     margin-right: 30px;
     font-size: medium;
     font-size: 20px;
   }
   .profile a i{
     color: black;;
   }
  @media screen and (max-width: 10px) {
    .search button[type=submit],.search input[type=text],.navdetails {
      display: none;
    }  
  }

  /* advertisement */
  .dis_head{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5FB5B7;
    border-radius: 30px;
    margin-top: 20vh;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 10vh;
    width: 84vw;
  }

  .heading h2{
    position: relative;
    font-size: 4vw;
    color: #5FB5B7;
    -webkit-text-stroke: 0.3vw #fff;
    text-transform: uppercase;
  }

  .heading h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: white;
    -webkit-text-stroke: white;
    border-right: 2px solid white;
    overflow: hidden;
    animation: animate 8s linear infinite;
  }

  
.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top:15px;
}
.line{
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}

  @keyframes animate
  {
    0%,10%,100%
    {
        width: 0;
    }

    70%,90%
    {
        width: 100%;
    }
  }

  @media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #searchTxt{
        width: 100%;
    }
    .burger{
    display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras {
    padding: 0px;
}
}