.instructor {
  display: flex;
}
.instructor_left {
  background-color: rgb(255, 255, 255);
}
.instructor_left > a {
  display: block;
  text-decoration: none;
  color: rgb(30, 163, 208);
  font-weight: 700;
  font-style: 1.2rem;
  border-bottom: 1px solid #189fd0;
  padding: 6px;
  cursor: pointer;
  background-color: white;
}
.instructor_left > a:hover {
  color: rgb(255, 255, 255);
  background-color: #189fd0;
  border-bottom: 1px solid #fbfbfb;
}
.instructor_right > img {
  width: 80vw;
  object-fit: contain;
}
