* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('https://wallpaperaccess.com/full/3378467.jpg');
    font-family: 'Poppins', sans-serif;
}

.button_back{
    margin-top: 1%;
    margin-left: 1%;
    font-size: 32px;
    color: rgb(230, 230, 230);
    background-image: url('https://wallpaperaccess.com/full/3378467.jpg');
    border: black;
}

.button_back i{
    font-size: 40px;
}

.dropdown{
    text-align: right;
    margin-top: 2%;
    margin-right: 1%;
}

.redirect_page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Book */
.book {
    position: relative;
    width: 48vw;
    height: 93vh;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    padding: 40px;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px ;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.style2{
    color: indianred;
    font-weight: 800;
    font-size: x-large;
    font-style: inherit;
    
}

.back-content {
    transform: rotateY(180deg)
}
.style1 {
    
    font-size:x-large;
    font-weight: 600;
    font-style: normal;
    color:cornflowerblue;
    
}
.b2{
    position: fixed;
    bottom: 17%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 10vh;

    
}
.Audio{
    display: flex;
    /* position: relative; */
    justify-content:center;
    align-items: center;
}
#a1{
    margin-bottom: 13px;
}
#a1 p{
    margin-right: 13px;
}
#a2 p{
    margin-right: 13px;
}

/* .s_audio audio{
    width: 15vw;
    outline: none;
    position: fixed;
    bottom: 10%;
    left: 30%;
} */

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 13%;
    transition: 0.5s;
}

.button:focus {
    outline: none;
}

.button:hover i {
    color: #636363;
}

.button i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 7;
}

#p2 {
    z-index: 6;
}

#p3 {
    z-index: 5;
}

#p4 {
    z-index: 4;
}

#p5 {
    z-index: 3;
}

#p6 {
    z-index: 2;
}

#p7 {
    z-index: 1;
}
